# Node.js / npm
node_modules/
npm-debug.log
yarn-error.log

# Compiled output
dist/
*.min.js
*.min.css

# Dependency directories
bower_components/
jspm_packages/

# Visual Studio Code
.vscode/

# Windows specific files
Thumbs.db

# macOS specific files
.DS_Store